/* Estilos para o corpo, cabeçalho e navegação */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #004aad;
}

.multiverse-news {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.logo {
  height: 220px;
  position: absolute;
  top: -7%;
  left: 0;
}

header {
  background: linear-gradient(to right, #c7c7c7, #686868);
  color: white;
  padding: 1px;
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* height: 100px; */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos para as seções de notícias */
section {
  margin: 20px auto;
  width: 80%;
}

h2 {
  color: #ffffff;
}

/* Estilos para o rodapé */

.noticia-vingadores {
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 30px;
  max-width: 500px;
}

.ultimas-noticia {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
}

#marvel {
  border: 7px solid white;
}

h3 {
  color: #ffffff;
}

.noticias-populares ul li {
  list-style: none;
  display: flex;
  margin-top: 20px;
  gap: 27px;
  align-items: center;
}

.elementos {
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.noticia-neymar {
  font-size: 30px;
}

.foto-ney {
  height: 500px;
  width: 400px;
  border: 7px solid white;
}

.imagem {
  border: 7px solid white;
  height: 300px;
  object-fit: cover;
  width: 200px;
}

section nav ul {
  display: flex;
  gap: 195px;
  width: 100%;
}

.noticias-populares .imagem {
  width: 400px;
}

#populares {
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  color: #ffffff;
}

footer {
  background-color: #161616;
  color: #fff;
  text-align: center;
  padding: 20px;
}
